body {
    /*background: #1690A7;*/
    /*display: flex;*/
    justify-content: center;
    align-items: center;
    /*height: 100vh;*/
    flex-direction: column;
}

form {
    border: 2px solid #ccc;
    padding: 30px;
    background: #fff;
    border-radius: 15px;
}

textarea {
    margin: 15px;
    resize: none;
}

label {
    font-weight: bold;
}

.message .error {
    background: #F2DEDE;
    color: #A94442;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin: 20px auto;
}

.message .success {
    background: #b5e7a0;
    color: black;
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    margin: 20px auto;
}